.svg {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circle {
  animation: move var(--duration) ease-in-out infinite;
}

.banner {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(100px);
  padding: 2rem;
  border-radius: 1rem;
  background-color: rgb(255 255 255 / 20%);
  border: 0.5rem solid rgb(255 255 255 / 10%);
  height: 100%;
  width: 100%;
  z-index: -1;
  
  .h1background {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  .p {
    margin-bottom: 2rem;
    line-height: 1.3em;
    text-align: center;
  }
  
  /* button {
    border: none;
    box-shadow: inset 0 0 0 0.3rem rgb(255 255 255 / 20%);
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
    border-radius: 0.2rem;
    cursor: pointer;
    background-image: linear-gradient(-45deg, hsl(calc(var(--hue) + 50) 60% 60%), hsl(var(--hue) 80% 80%));
  } */
}

@keyframes move {
  0%, 100%{
    cx: var(--from-x);
    cy: var(--from-y);
  }
  50% {
    cx: var(--to-x);
    cy: var(--to-y);
  }
}